!
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption
service internal
service counters max age 10
service call-home
service unsupported-transceiver
platform punt-keepalive disable-kernel-core
!
!
hostname {{ hostname[0] }}
!
!
vrf definition Mgmt-vrf
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
logging buffered 1024000 informational
enable secret 9 $9$5F3zLJXOeyRP7k$vyi9DkQjzhsppDfgzcBk5RSJYkE99BWpJplBkyhqDl.
!
!
!
ip name-server {{ nameserver[0] }} {{ nameserver[1] }}
ip domain name {{ ip_domain[0] }}
!
!
!
login on-success log
!
!
!
!
!
qos queue-softmax-multiplier 1200
vtp domain {{ vtp_domain[0] }}
vtp mode {{ vtp_mode[0] }}
udld {{ udld[0] }}
no device-tracking logging theft
!
port-channel load-balance src-dst-mixed-ip-port
license boot level network-essentials addon dna-essentials
!
!
diagnostic bootup level complete
!
spanning-tree mode rapid-pvst
spanning-tree logging
spanning-tree portfast bpduguard default
spanning-tree extend system-id
spanning-tree vlan 1,{{ spanning_tree_vl[0] }} priority 40960
memory free low-watermark processor 134384
!
errdisable recovery cause all
!
{% for item in vlandata %}
vlan {{ item[0] }} 
 name {{ item[1] }}
!
{% endfor %}
!
!
!
class-map match-any system-cpp-police-ewlc-control
  description EWLC Control 
class-map match-any system-cpp-police-topology-control
  description Topology control
class-map match-any system-cpp-police-sw-forward
  description Sw forwarding, L2 LVX data packets, LOGGING, Transit Traffic
class-map match-any system-cpp-default
  description EWLC Data, Inter FED Traffic 
class-map match-any system-cpp-police-sys-data
  description Openflow, Exception, EGR Exception, NFL Sampled Data, RPF Failed
class-map match-any system-cpp-police-punt-webauth
  description Punt Webauth
class-map match-any system-cpp-police-l2lvx-control
  description L2 LVX control packets
class-map match-any system-cpp-police-forus
  description Forus Address resolution and Forus traffic
class-map match-any system-cpp-police-multicast-end-station
  description MCAST END STATION
class-map match-any cm_Q2
 match ip dscp af11  af12  af13 
class-map match-any cm_Q3
 match ip dscp default 
class-map match-any cm_Q4
 match ip dscp af21  af22  af23 
class-map match-any cm_Q5
 match ip dscp af31  af32  af33 
class-map match-any cm_Q6
 match ip dscp cs6 
class-map match-any cm_Q7
 match ip dscp af41  af42  af43 
class-map match-any cm_P8
 match ip dscp ef 
class-map match-any system-cpp-police-high-rate-app
  description High Rate Applications 
class-map match-any cm_COS4
 match access-group name al_COS4
class-map match-any system-cpp-police-multicast
  description MCAST Data
class-map match-any cm_COS5
 match access-group name al_COS5
class-map match-any cm_COS2
 match access-group name al_COS2
class-map match-any cm_COS1
 match access-group name al_COS1
class-map match-any system-cpp-police-l2-control
  description L2 control
class-map match-any system-cpp-police-dot1x-auth
  description DOT1X Auth
class-map match-any system-cpp-police-data
  description ICMP redirect, ICMP_GEN and BROADCAST
class-map match-any system-cpp-police-stackwise-virt-control
  description Stackwise Virtual OOB
class-map match-any non-client-nrt-class
class-map match-any system-cpp-police-routing-control
  description Routing control and Low Latency
class-map match-any system-cpp-police-protocol-snooping
  description Protocol snooping
class-map match-any system-cpp-police-dhcp-snooping
  description DHCP snooping
class-map match-any cm_COS2V
 match access-group name al_COS2V
class-map match-any system-cpp-police-ios-routing
  description L2 control, Topology control, Routing control, Low Latency
class-map match-any system-cpp-police-system-critical
  description System Critical and Gold Pkt
class-map match-any system-cpp-police-ios-feature
  description ICMPGEN,BROADCAST,ICMP,L2LVXCntrl,ProtoSnoop,PuntWebauth,MCASTData,Transit,DOT1XAuth,Swfwd,LOGGING,L2LVXData,ForusTraffic,ForusARP,McastEndStn,Openflow,Exception,EGRExcption,NflSampled,RpfFailed
!
policy-map pm_queueing
 class cm_P8
  police rate percent 40
  priority level 1
 class cm_Q7
  bandwidth remaining percent 30 
  queue-buffers ratio 15
  queue-limit dscp af41 percent 100
  queue-limit dscp af42 percent 90
  queue-limit dscp af43 percent 80
 class cm_Q6
  bandwidth remaining percent 1 
  queue-buffers ratio 5
  queue-limit dscp cs6 percent 100
 class cm_Q5
  bandwidth remaining percent 29 
  queue-buffers ratio 10
  queue-limit dscp af31 percent 100
  queue-limit dscp af32 percent 90
  queue-limit dscp af33 percent 80
 class cm_Q4
  bandwidth remaining percent 29 
  queue-buffers ratio 30
  queue-limit dscp af21 percent 100
  queue-limit dscp af22 percent 90
  queue-limit dscp af23 percent 80
 class cm_Q3
  bandwidth remaining percent 10 
  queue-buffers ratio 20
  queue-limit dscp default percent 100
 class class-default
  bandwidth remaining percent 1 
  queue-buffers ratio 5
  queue-limit dscp af11 percent 100
  queue-limit dscp af12 percent 90
  queue-limit dscp af13 percent 80
policy-map system-cpp-policy
policy-map pm_marking_notrust
 class cm_COS1
  set dscp ef
 class cm_COS2V
  set dscp af41
 class cm_COS2
  set dscp af31
 class cm_COS4
  set dscp default
 class cm_COS5
  set dscp af11
 class class-default
  set dscp af21
!         
! 
!
!
!
!
!
!
!
!
!
{% for item in mgmt_vrf %}
interface {{ item[0] }}
 vrf forwarding Mgmt-vrf
 ip address {{ item[1] }} {{ item[2] }}
 negotiation auto
!
{% endfor %}
!
{% for teng in teng_int %}
{% if teng in teng_port %}
!
interface {{ teng }}
 description Trunk Port
 switchport trunk allowed vlan 1,{{ spanning_tree_vl[0] }}
 switchport mode trunk
 switchport nonegotiate
 logging event trunk-status
 load-interval 60
 udld port
 service-policy input pm_marking_notrust
 service-policy output pm_queueing
 ip dhcp snooping trust
!
{% else %}
!
interface {{ teng }}
 description ** Not In Use **
 shutdown
!
{% endif %} 
{% endfor %}
{% for gig in gig_int %}
!
interface {{ gig }}
 description Server Access Port
 switchport access vlan {{ vlan_access[0] }}
 switchport mode access
 switchport nonegotiate
 load-interval 60
 spanning-tree portfast
 service-policy input pm_marking_notrust
 service-policy output pm_queueing
!
!
{% endfor %}
!
!
{% for loopback in lo_int %}
interface {{ loopback }} 
 description {{ loopback }} CONFIG By Ansible
!
{% endfor %}
!
interface Vlan1
 no ip address
 shutdown
!
!
{% if vlan_int %}
{% for vlan in vlan_int %}
!
interface {{ vlan[0] }}
 description {{ vlan[1] }}
 ip address {{ vlan[2] }} {{ vlan[3] }}
 no ip route-cache
 no ip redirects
 no ip proxy-arp
 load-interval 60
 arp timeout 420
!
{% endfor %}
{% endif %}
!
{% if vlan_int_ip %}
{% for vlan in vlan_int_ip %}
!
interface {{ vlan[0]|default("") }}
 description *** NO DESCRIPTION FOUND ***
 ip address {{ vlan[1]|default("") }} {{ vlan[2]|default("") }}
 no ip route-cache
 no ip redirects
 no ip proxy-arp
 load-interval 60
 arp timeout 420
!
{% endfor %}
{% endif %}
!
ip default-gateway {{ default_gw[0] }}
ip forward-protocol nd
no ip forward-protocol udp tftp
no ip forward-protocol udp nameserver
no ip forward-protocol udp domain
no ip forward-protocol udp time
no ip forward-protocol udp netbios-ns
no ip forward-protocol udp netbios-dgm
no ip forward-protocol udp tacacs
ip tcp synwait-time 10
ip tcp path-mtu-discovery
no ip http server
ip http authentication local
no ip http secure-server
ip http client source-interface {{ mgmt_vrf[0][0] }}
ip route vrf Mgmt-vrf 0.0.0.0 0.0.0.0 10.208.222.1
ip tacacs source-interface {{ vlan_int[0][0] }} 
ip ssh version 2
ip ssh dscp 18
ip scp server enable
!
!
ip access-list extended al_COS1
 10 deny   ip any any fragments
 20 permit udp any range 16384 32767 any range 16384 32767
 30 permit tcp any any eq 1720
 40 permit tcp any eq 1720 any
 50 permit tcp any range 11000 11999 any range 11000 11999
 60 permit udp any any eq 2427
 70 permit udp any eq 2427 any
 80 permit tcp any any eq 2428
 90 permit tcp any eq 2428 any
 100 permit tcp any any range 2000 2002
 110 permit tcp any range 2000 2002 any
 120 permit udp any any eq 1719
 130 permit udp any eq 1719 any
 140 permit udp any any eq 5060
 150 permit udp any eq 5060 any
 160 permit udp any any eq 5061
 170 permit udp any eq 5061 any
 180 permit tcp any any eq 5060
 190 permit tcp any eq 5060 any
 200 permit tcp any any eq 5061
 210 permit tcp any eq 5061 any
 220 permit udp any any range 8000 8015
 230 permit udp any range 8000 8015 any
 240 permit udp any range 50000 50019 any
 250 permit udp any any range 50000 50019
ip access-list extended al_COS2
 10 deny   ip any any fragments
 20 permit tcp any any eq telnet
 30 permit tcp any eq telnet any
 40 permit tcp any any eq 8216
 50 permit tcp any any eq 8218
 60 permit tcp any any eq 8232
 70 permit tcp any any eq 8234
 80 permit tcp any any eq 8246
 90 permit tcp any any eq 8250
 100 permit tcp any any eq 8252
 110 permit tcp any any eq 8254
 120 permit tcp any any eq 8256
 130 permit tcp any any eq 8258
 140 permit tcp any any eq 8262
 150 permit tcp any any eq 8264
 160 permit tcp any any eq 8280
 170 permit tcp any any eq 8282
 180 permit tcp any any eq 8290
 190 permit tcp any any eq 8292
 200 permit tcp any any eq 8294
 210 permit tcp any any eq 8296
 220 permit tcp any any eq 50001
 230 permit tcp any any eq 50101
 240 permit tcp any any eq 51501
 250 permit tcp any any eq 51701
 260 permit tcp any any eq 53101
 270 permit tcp any any eq 53201
 280 permit tcp any any eq 53401
 290 permit tcp any any eq 53701
 300 permit tcp any any eq 54901
 310 permit tcp any any eq 55001
 320 permit tcp any any eq 55301
 330 permit tcp any any eq 55401
 340 permit tcp any any eq 55601
 350 permit tcp any any eq 55901
 360 permit tcp any any eq 56101
 370 permit tcp any any eq 56201
 380 permit tcp any any eq 56501
 390 permit tcp any any eq 58001
 400 permit tcp any any eq 58201
 410 permit tcp any any eq 59001
 420 permit tcp any any eq 59201
 430 permit tcp any any eq 59401
 440 permit tcp any any eq 59601
 450 permit tcp any any eq 3616
 460 permit tcp any any eq 3617
 470 permit tcp any any eq 3664
 480 permit tcp any any eq 3646
 490 permit tcp any any eq 3650
 500 permit tcp any any eq 3653
 510 permit tcp any any eq 3654
 520 permit tcp any any eq 3656
 530 permit tcp any any eq 3658
 540 permit tcp any any eq 3216
 550 permit tcp any any eq 3218
 560 permit tcp any any eq 3232
 570 permit tcp any any eq 3234
 580 permit tcp any any eq 3246
 590 permit tcp any any eq 3250
 600 permit tcp any any eq 3252
 610 permit tcp any any eq 3254
 620 permit tcp any any eq 3256
 630 permit tcp any any eq 3258
 640 permit tcp any any eq 3262
 650 permit tcp any any eq 3264
 660 permit tcp any any eq 3270
 670 permit tcp any any eq 3280
 680 permit tcp any any eq 3282
 690 permit tcp any any eq 3290
 700 permit tcp any any eq 3292
 710 permit tcp any any eq 3294
 720 permit tcp any any eq 3296
 730 permit tcp any eq 8216 any
 740 permit tcp any eq 8218 any
 750 permit tcp any eq 8232 any
 760 permit tcp any eq 8234 any
 770 permit tcp any eq 8246 any
 780 permit tcp any eq 8250 any
 790 permit tcp any eq 8252 any
 800 permit tcp any eq 8254 any
 810 permit tcp any eq 8256 any
 820 permit tcp any eq 8258 any
 830 permit tcp any eq 8262 any
 840 permit tcp any eq 8264 any
 850 permit tcp any eq 8280 any
 860 permit tcp any eq 8282 any
 870 permit tcp any eq 8290 any
 880 permit tcp any eq 8292 any
 890 permit tcp any eq 8294 any
 900 permit tcp any eq 8296 any
 910 permit tcp any eq 50001 any
 920 permit tcp any eq 50101 any
 930 permit tcp any eq 51501 any
 940 permit tcp any eq 51701 any
 950 permit tcp any eq 53101 any
 960 permit tcp any eq 53201 any
 970 permit tcp any eq 53401 any
 980 permit tcp any eq 53701 any
 990 permit tcp any eq 54901 any
 1000 permit tcp any eq 55001 any
 1010 permit tcp any eq 55301 any
 1020 permit tcp any eq 55401 any
 1030 permit tcp any eq 55601 any
 1040 permit tcp any eq 55901 any
 1050 permit tcp any eq 56101 any
 1060 permit tcp any eq 56201 any
 1070 permit tcp any eq 56501 any
 1080 permit tcp any eq 58001 any
 1090 permit tcp any eq 58201 any
 1100 permit tcp any eq 59001 any
 1110 permit tcp any eq 59201 any
 1120 permit tcp any eq 59401 any
 1130 permit tcp any eq 59601 any
 1140 permit tcp any eq 3616 any
 1150 permit tcp any eq 3617 any
 1160 permit tcp any eq 3664 any
 1170 permit tcp any eq 3646 any
 1180 permit tcp any eq 3650 any
 1190 permit tcp any eq 3653 any
 1200 permit tcp any eq 3654 any
 1210 permit tcp any eq 3656 any
 1220 permit tcp any eq 3658 any
 1230 permit tcp any eq 3216 any
 1240 permit tcp any eq 3218 any
 1250 permit tcp any eq 3232 any
 1260 permit tcp any eq 3234 any
 1270 permit tcp any eq 3246 any
 1280 permit tcp any eq 3250 any
 1290 permit tcp any eq 3252 any
 1300 permit tcp any eq 3254 any
 1310 permit tcp any eq 3256 any
 1320 permit tcp any eq 3258 any
 1330 permit tcp any eq 3262 any
 1340 permit tcp any eq 3264 any
 1350 permit tcp any eq 3270 any
 1360 permit tcp any eq 3280 any
 1370 permit tcp any eq 3282 any
 1380 permit tcp any eq 3290 any
 1390 permit tcp any eq 3292 any
 1400 permit tcp any eq 3294 any
 1410 permit tcp any eq 3296 any
ip access-list extended al_COS2V
 10 deny   ip any any fragments
 20 permit tcp any any eq 554
 30 permit tcp any eq 554 any
 40 permit udp any any eq 8081
 50 permit udp any eq 8081 any
 60 permit udp any any eq 8082
 70 permit udp any eq 8082 any
 80 permit udp any any eq 8083
 90 permit udp any eq 8083 any
 100 permit udp any any eq 8084
 110 permit udp any eq 8084 any
 120 permit udp any any eq 8085
 130 permit udp any eq 8085 any
 140 permit udp any any eq 9091
 150 permit udp any eq 9091 any
 160 permit udp any any eq 9092
 170 permit udp any eq 9092 any
 180 permit udp any range 35000 35999 any range 32768 65535
 190 permit udp any range 32768 65535 any range 35000 35999
 200 permit udp any eq 9000 any
 210 permit udp any any eq 9000
 220 permit tcp any eq 5004 any
 230 permit tcp any any eq 5004
 240 permit udp any range 50020 50039 any
 250 permit udp any any range 50020 50039
 260 permit udp any range 50040 50059 any
 270 permit udp any any range 50040 50059
ip access-list extended al_COS4
 10 permit gre any any
ip access-list extended al_COS5
 10 deny   ip any any fragments
 20 permit tcp any any range 10565 10569
 30 permit tcp any range 10565 10569 any
 40 permit tcp any any eq 16384
 50 permit tcp any eq 16384 any
 60 permit udp any any range 33001 34100
 70 permit udp any range 33001 34100 any
 80 permit tcp any any eq 1500
 90 permit tcp any eq 1500 any
 100 permit tcp any any eq 1501
 110 permit tcp any eq 1501 any
 120 permit tcp any any eq 6520
 130 permit tcp any eq 6520 any
 140 permit tcp any any eq 6530
 150 permit tcp any eq 6530 any
 160 permit tcp any any eq 6540
 170 permit tcp any eq 6540 any
 180 permit tcp any any eq 6550
 190 permit tcp any eq 6550 any
 200 permit tcp any any eq 3501
 210 permit tcp any eq 3501 any
 220 permit tcp any any eq 3503
 230 permit tcp any eq 3503 any
 240 permit tcp any any eq 10000
 250 permit tcp any eq 10000 any
 260 permit tcp any any eq 11104
 270 permit tcp any eq 11104 any
 280 permit tcp any any eq 11105
 290 permit tcp any eq 11105 any
 300 permit tcp any any eq 2049
 310 permit tcp any eq 2049 any
 320 permit udp any any eq 2049
 330 permit udp any eq 2049 any
 340 permit tcp any any eq 2051
 350 permit tcp any eq 2051 any
 360 permit udp any any eq 2051
 370 permit udp any eq 2051 any
 380 permit tcp any any eq 27000
 390 permit tcp any eq 27000 any
 400 permit tcp any any eq 29000
 410 permit tcp any eq 29000 any
!
logging history notifications
logging trap notifications
logging source-interface {{ vlan_int[0][0] }}
logging host 10.116.64.6
logging host 10.116.1.24
ip access-list standard 40
 140 remark EGW - Emergency 991 Gateway servers
 140 permit 206.16.62.14
 150 permit 206.19.41.14
 10 remark /**********************************************
 10 remark SNMP RO authorized servers
 10 remark ***********************************************
 10 remark SNMP RO IBM authorized servers
 10 permit 10.116.0.0 0.0.255.255
 20 permit 10.14.104.0 0.0.0.255
 30 permit 163.198.110.0 0.0.0.255
 40 remark SNMP RO Intermapper RND authorized servers
 40 permit 136.141.117.0 0.0.0.255
 50 permit 163.198.75.0 0.0.0.255
 60 remark SNMP RO TSSD blocks authorized servers
 60 permit 10.0.1.0 0.0.0.255
 70 permit 10.0.2.0 0.0.0.255
 80 permit 10.0.3.0 0.0.0.255
 90 permit 10.0.4.0 0.0.0.255
 100 permit 10.0.5.0 0.0.0.255
 110 permit 10.0.6.0 0.0.0.255
 120 remark SNMP RO Netdisco authorized servers
 120 permit 163.198.75.32 0.0.0.7
 130 remark SNMP RO Prime authorized servers
 130 permit 10.209.5.0 0.0.0.255
ip access-list standard 41
 10 remark /**********************************************
 10 remark SNMP RW authorized servers
 10 remark ***********************************************
 10 remark SNMP RW IBM authorized servers
 10 permit 10.116.0.0 0.0.255.255
 20 permit 10.14.104.0 0.0.0.255
 30 permit 163.198.110.0 0.0.0.255
 40 remark SNMP RW TSSD blocks authorized servers
 40 permit 10.0.1.0 0.0.0.255
 50 permit 10.0.2.0 0.0.0.255
 60 permit 10.0.3.0 0.0.0.255
 70 permit 10.0.4.0 0.0.0.255
 80 permit 10.0.5.0 0.0.0.255
 90 permit 10.0.6.0 0.0.0.255
 100 remark SNMP RW Prime authorized servers
 100 permit 10.209.5.0 0.0.0.255
ip access-list standard 50
 20 permit 10.0.2.49
 10 remark /**********************************************
 10 remark NTP services
 10 remark ***********************************************
 10 permit 10.0.1.49
 50 permit 10.0.6.49
 40 permit 10.0.5.49
 30 permit 10.0.4.49
ip access-list standard 55
 10 remark /**********************************************
 10 remark IBM SNMP RW authorized servers
 10 remark **********************************************/
 10 permit 10.116.0.0 0.0.255.255
 20 permit 10.14.104.0 0.0.0.255
 30 permit 163.198.110.0 0.0.0.255
ip access-list standard 56
 10 remark /**********************************************
 10 remark IBM SNMP RO authorized servers
 10 remark **********************************************/
 10 permit 10.116.0.0 0.0.255.255
 20 permit 10.14.104.0 0.0.0.255
 30 permit 163.198.110.0 0.0.0.255
ip access-list standard 66
 10 remark /****************************************************
 10 remark SNMP Read Only Dow authorized servers
 10 remark ****************************************************/
 10 permit 136.141.254.0 0.0.0.255
 20 permit 136.141.117.0 0.0.0.255
 30 permit 165.216.28.0 0.0.3.255
 40 permit 165.216.236.0 0.0.1.255
 50 permit 165.216.232.0 0.0.0.255
 60 permit 165.216.243.0 0.0.0.63
 70 permit 165.216.246.0 0.0.0.255
 80 permit 165.216.247.0 0.0.0.255
 90 permit 165.216.248.0 0.0.0.255
 100 permit 144.68.68.0 0.0.1.255
 110 permit 144.68.204.0 0.0.1.255
 120 permit 144.68.252.0 0.0.1.255
 130 permit 143.219.184.0 0.0.1.255
 140 permit 143.219.186.0 0.0.1.255
 150 permit 204.136.222.128 0.0.0.127
 160 permit 204.136.221.128 0.0.0.127
 170 permit 204.136.252.0 0.0.1.255
 180 permit 216.99.78.128 0.0.0.127
!
!
snmp-server community R34d0n1YInt3rM4pP3r4d0w RO 66
snmp-server community tr0p1c4lst0rms RO 40
snmp-server community summer_N_c0l0rad0 RW 41
snmp-server community 3ASyXssQ4Utiy4WPu9U6f3 RO 55
snmp-server community AjXDFiGhT4hea3TZ637zm7 RW 56
snmp-server trap-source {{ vlan_int[0][0] }}
snmp-server queue-length 100
snmp-server location {{ snmp_loc[0] }}
snmp-server ip dscp 18
snmp-server contact I-DOW-IS-IBMNETWORK-OPS
snmp-server system-shutdown
snmp-server enable traps snmp authentication linkdown linkup coldstart warmstart
snmp-server enable traps flowmon
snmp-server enable traps entity-perf throughput-notif
snmp-server enable traps call-home message-send-fail server-fail
snmp-server enable traps tty
snmp-server enable traps ospf state-change
snmp-server enable traps ospf errors
snmp-server enable traps ospf retransmit
snmp-server enable traps ospf lsa
snmp-server enable traps ospf cisco-specific state-change nssa-trans-change
snmp-server enable traps ospf cisco-specific state-change shamlink interface
snmp-server enable traps ospf cisco-specific state-change shamlink neighbor
snmp-server enable traps ospf cisco-specific errors
snmp-server enable traps ospf cisco-specific retransmit
snmp-server enable traps ospf cisco-specific lsa
snmp-server enable traps eigrp
snmp-server enable traps auth-framework sec-violation
snmp-server enable traps rep
snmp-server enable traps vtp
snmp-server enable traps vlancreate
snmp-server enable traps vlandelete
snmp-server enable traps port-security
snmp-server enable traps license
snmp-server enable traps smart-license
snmp-server enable traps cpu threshold
snmp-server enable traps memory bufferpeak
snmp-server enable traps stackwise
snmp-server enable traps udld link-fail-rpt
snmp-server enable traps udld status-change
snmp-server enable traps fru-ctrl
snmp-server enable traps flash insertion removal lowspace
snmp-server enable traps energywise
snmp-server enable traps power-ethernet group 1 threshold 80
snmp-server enable traps power-ethernet police
snmp-server enable traps entity
snmp-server enable traps pw vc
snmp-server enable traps mvpn
snmp-server enable traps envmon
snmp-server enable traps ipsla
snmp-server enable traps bfd
snmp-server enable traps ike policy add
snmp-server enable traps ike policy delete
snmp-server enable traps ike tunnel start
snmp-server enable traps ike tunnel stop
snmp-server enable traps ipsec cryptomap add
snmp-server enable traps ipsec cryptomap delete
snmp-server enable traps ipsec cryptomap attach
snmp-server enable traps ipsec cryptomap detach
snmp-server enable traps ipsec tunnel start
snmp-server enable traps ipsec tunnel stop
snmp-server enable traps ipsec too-many-sas
snmp-server enable traps config-copy
snmp-server enable traps config
snmp-server enable traps config-ctid
snmp-server enable traps dhcp
snmp-server enable traps event-manager
snmp-server enable traps ipmulticast
snmp-server enable traps msdp
snmp-server enable traps ospfv3 state-change
snmp-server enable traps ospfv3 errors
snmp-server enable traps pim neighbor-change rp-mapping-change invalid-pim-message
snmp-server enable traps bridge newroot topologychange
snmp-server enable traps stpx inconsistency root-inconsistency loop-inconsistency
snmp-server enable traps syslog
snmp-server enable traps pimstdmib neighbor-loss invalid-register invalid-join-prune rp-mapping-change interface-election
snmp-server enable traps vlan-membership
snmp-server enable traps errdisable
snmp-server enable traps rf
snmp-server enable traps transceiver all
snmp-server enable traps bulkstat collection transfer
snmp-server enable traps mac-notification change move threshold
snmp-server enable traps vrfmib vrf-up vrf-down vnet-trunk-up vnet-trunk-down
snmp-server host 10.116.1.22 3ASyXssQ4Utiy4WPu9U6f3  config
snmp-server host 10.116.1.23 3ASyXssQ4Utiy4WPu9U6f3  config
snmp-server host 10.116.1.24 3ASyXssQ4Utiy4WPu9U6f3  config
snmp-server host 10.116.64.6 3ASyXssQ4Utiy4WPu9U6f3  config
snmp ifmib ifindex persist
tacacs-server timeout 10
tacacs-server directed-request
tacacs-server key 7 3r16lwe4rumtslso9wcu
tacacs server ibm_tacacs_pri
 address ipv4 10.209.5.140
tacacs server ibm_tacacs_sec
 address ipv4 10.217.5.140
!
!
!
!
!
control-plane
 service-policy input system-cpp-policy
!
privilege exec level 1 traceroute
privilege exec level 1 ping
privilege exec level 1 enable
privilege exec level 1 terminal monitor
privilege exec level 1 terminal no monitor
privilege exec level 1 terminal no
privilege exec level 1 terminal
privilege exec level 1 show configuration
privilege exec level 1 show
privilege exec level 1 clear ip accounting
privilege exec level 1 clear ip
privilege exec level 1 clear counters
privilege exec level 1 clear
!
!
banner motd ^C
{{ banner_motd }}
^C
!
!
line con 0
 session-timeout 30 
 exec-timeout 30 0
 password 7 {{ line_pass }}
 logging synchronous
 stopbits 1
line vty 0 4
 session-timeout 30 
 exec-timeout 30 0
 password 7 {{ line_pass }}
 logging synchronous
 transport preferred none
 transport input ssh
line vty 5 15
 session-timeout 30 
 exec-timeout 30 0
 password 7 {{ line_pass }}
 logging synchronous
 transport preferred none
 transport input ssh
line vty 16 31
 transport input ssh
!
call-home
 ! If contact email address in call-home is configured as sch-smart-licensing@cisco.com
 ! the email address configured in Cisco Smart License Portal will be used as contact email address to send SCH notifications.
 contact-email-addr sch-smart-licensing@cisco.com
 profile "CiscoTAC-1"  active
  destination transport-method http
ntp access-group peer 50
ntp server {{ ntp_serv[0] }}
ntp server {{ ntp_serv[1] }}
!
mac address-table aging-time 420
!
!
!
!
!
netconf-yang
!
!
aaa new-model
!         
!
aaa authentication login default group tacacs+ line
aaa authentication enable default group tacacs+ enable
aaa authorization console
aaa authorization config-commands
aaa authorization exec default group tacacs+ none 
aaa authorization commands 15 default group tacacs+ none 
aaa accounting exec default start-stop group tacacs+
aaa accounting commands 1 default stop-only group tacacs+
aaa accounting commands 15 default start-stop group tacacs+
aaa accounting connection default start-stop group tacacs+
aaa accounting system default start-stop group tacacs+
!
!
!
!
!
!
aaa session-id common
clock timezone GMT 0 0
switch 1 provision c9300l-24p-4x
software auto-upgrade enable
!
!
!
!
!
ip arp proxy disable
!
end


